$primary: #fff;
$inverted: #000;
$accent: crimson;

$headlines: 'Lovelo Black';

@font-face {
    font-family: 'Lovelo Black';
    src: "../fonts/Lovelo Black";
}

@font-face {
    font-family: 'Open Sans';
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}