@import './mixins.scss';

$primary: #fff;
$inverted: #000;
$accent: crimson;

$headlines: 'Lovelo Black';
$regular: 'Open Sans';

@font-face {
    font-family: 'Lovelo Black';
    src: "../fonts/Lovelo Black";
}

@font-face {
    font-family: 'Open Sans';
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

.page-description {
    font-family: $headlines;
    font-size: 3em;
    text-align: center;
    margin: 4em 0 0 0;
}

.page-desc-content {
    font-weight: bold;
}